body {
    color: (255, 250, 245)
}

.head {
    position: fixed;
    background-color: rgb(255, 255, 255);
}

.bookImg img {
    box-sizing: border-box;
}

.bookImg {
    margin-left: 215px;
    margin-top: 36px;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.logo .logoText {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 37px;
}

.logo .logoText,
h2 {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 900;
    color: rgb(114, 4, 24);
}

.logo .logoText,
p {
    font-size: 13px;
    font-family: Montserrat;
    font-weight: 400;
}

.logo .logoText hr {
    width: 203px;
    height: 1px;
    color: rgba(255, 255, 255, 0.59);
    margin: 0px;
    margin-bottom: 4.05px;

}

.catalogRead {
    margin-top: 248.21px;
    width: 467px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.catalogRead h1 {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 36px;
    color: rgb(36, 20, 0);
}

.catalogRead p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    color: rgb(36, 20, 0);
    width: 360px;
    line-height: 25px;
}

.catalogRead .btnn {
    width: 212px;
    background-color: rgb(225, 106, 0);
    height: 50px;
    border: 1px solid rgb(225, 106, 0);
    cursor: pointer;
    border-radius: 5px;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 15px;
    color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    text-align: center;
}



.section1 {
    width: 100%;
    height: 630px;
    display: flex;
    gap: 102px;
    justify-content: center;
}

/* .img1 {
    display: inline-block;
    margin-top: 200px;
    position: relative;
}

.img1 img {
    width: 562px;
    height: 314px;
}

.img2 {

    position: absolute;
    top: 186px;
    z-index: -1;
    margin-left: 59px;

}

.img3 {
    position: absolute;
    z-index: -1;
    top: 552px;
    margin-left: 242px;
}

.img4 {
    position: absolute;
    z-index: -2;
    top: 140px;
    margin-left: 150px;
} */
.img img {
    margin-top: 200px;
    top: 57px;
    position: relative;
    width: 562.52px;
    height: 314.54px;
    z-index: 3;
    right: 40px;
}

.img1 img {
    z-index: 1;
    width: 640px;
    height: 472px;
    position: absolute;
    top: 200px;
}

.section2 {
    display: flex;
    flex-direction: column;
    margin-top: 66px;
}

.catalogText {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 25px;
    margin-top: 66px;
    margin: 0px auto;
}

.books,
.electronic,
.audio,
.toysAndCreativity,
.bookAccessories,
.notepads,
.boardGames,
.present,
.stock {
    width: 242px;
    height: 76px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgb(255, 255, 255);
    width: calc(100% / 4 - 10px);
}

.catalogChoose {
    margin-top: 47px;
    display: flex;
    align-content: center;
    gap: 36px;
    justify-content: center;
    flex-wrap: wrap;
}

.books p,
.electronic p,
.audio p,
.toysAndCreativity p,
.bookAccessories p,
.notepads p,
.boardGames p,
.present p,
.stock p {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;

}

.books p:hover,
.electronic p:hover,
.audio p:hover,
.toysAndCreativity p:hover,
.bookAccessories p:hover,
.notepads p:hover,
.boardGames p:hover,
.present p:hover,
.stock p:hover {
    text-decoration: underline;
}

.aboutStore {
    text-align: center;
    margin-top: 136px;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 25px;
}

.section3 {
    display: flex;
    flex-direction: column;
}

.numberOfBook {
    display: flex;
    margin: 0px auto;
    column-gap: 30px;
    gap: 30px;
}

.branches,
.product,
.buyers,
.hours {
    margin-top: 68px;
    display: flex;

}

.branches h1,
.product h1,
.buyers h1,
.hours h1 {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 50px;
}

.branches p,
.product p,
.buyers p,
.hours p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
}

.branches p {
    margin-left: 27px;
    display: flex;
    align-items: center;
}

.product p {
    margin-left: 19px;
    display: flex;
    align-items: center;
}

.buyers p {
    margin-left: 32px;
    display: flex;
    align-items: center;
}

.hours p {
    margin-left: 18px;
    display: flex;
    align-items: center;
}

.section4 {
    margin-top: 159px;
    display: flex;
    flex-direction: column;
}

.delivery {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}

.aboutDelivery {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    margin-top: 42px;
    text-align: center;
    line-height: 196.19%;
}

.socialMedia {
    margin-top: 134px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 25px;
}

.socialMediaPage {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 54px;
}

.instagram:hover {
    transform: scale(1.1);
}

.facebook:hover {
    transform: scale(1.1);
}

.twitter:hover {
    transform: scale(1.1);
}

.header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid whitesmoke;
    position: fixed;
    padding-left: 214px;
    padding-right: 64px;
    z-index: 9999;
}

.header-list {
    width: 374px;
    height: 24px;
    display: flex;
    gap: 21px;
    flex-direction: row;
    align-items: center;
}

.header-list li a {
    color: rgb(36, 20, 0);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 196.19%;
    letter-spacing: 0%;
    text-align: left;
}

.header-list li a:hover {
    color: black;
}

.header-list li:nth-child(1) a {
    color: rgb(225, 106, 0);
    font-weight: 700;
    text-decoration-line: underline;
}

.header-list li:nth-child(3) a:hover {
    color: #000;
    text-decoration: none;
}

body {
    background-color: rgb(255, 250, 245);
    font-family: Montserrat;
    line-height: 196.19%;
    text-align: left;
}

.header {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid whitesmoke;
    position: fixed;
    padding-left: 214px;
    padding-right: 64px;
    z-index: 99;
}

.header-list {
    width: 374px;
    height: 24px;
    display: flex;
    gap: 21px;
    flex-direction: row;
    align-items: center;
}

.header-list li a {
    color: rgb(36, 20, 0);
    font-size: 12px;
    font-weight: 400;
}

.header-list li a:hover {
    color: black;
}

.header-list li:nth-child(0) a {
    color: rgb(225, 106, 0);
    font-weight: 700;
    text-decoration-line: underline;
}

.header-list li:nth-child(3) a:hover {
    color: #000;
    text-decoration: none;
}

.footer {
    background-color: rgb(57, 31, 0);
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 133px;
    padding-top: 56px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);

}

.information-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inform ul li:nth-child(1) {
    font-size: 18px;
}

.inf-4 ul li:nth-child(1) {
    font-size: 12px;
}

.inf-4 ul li:nth-child(2) {
    width: 136px;
    color: rgb(225, 106, 0);
    border: 1px solid rgb(225, 106, 0);
    padding: 2px 6px;

}

.ending {
    font-size: 12px;
    text-align: center;
}

.responsive-footer {
    display: none;
}

@media (max-width:680px) {

    .header {
        width: 100%;
        padding-left: 15px;
        padding-right: 14px;
        /* overflow-x: hidden; */
        margin: 0px auto;

    }

    .header-list li a {
        font-size: 11px;
    }

    .main {
        margin-bottom: 58px;
        overflow-x: hidden;

    }

    .section-1 {
        flex-direction: column;
        gap: 100px;
    }

    .information-container {
        order: 2;
        width: 100%;
        height: 400px;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;

    }

    .information-container h1 {
        font-size: 24px;
    }

    .information-container p {
        font-size: 14px;
    }

    .image-container {
        order: 1;
        margin-top: 30px;
        width: 100%;
        display: flex;
    }

    .image-container img {
        width: 350px;
        height: 200px;
        padding: 0;
        margin: 0px auto;
    }

    .section-2 {
        margin-top: 130px;
    }

    .section-2 p {
        font-size: 18px;
        gap: 20px;
    }

    .social-container img {
        width: 37.54px;
        height: 37.54px;
    }

    .footer {
        display: none;
    }

    .responsive-footer {
        padding-top: 18px;
        width: 100%;
        overflow-x: hidden;
        display: flex;
        color: rgb(242, 242, 242);
        background-color: rgb(57, 31, 0);
        flex-direction: column;
        align-items: center;
    }

    .responsive-footer img {
        width: 190px;
    }

    .responsive-footer ul {
        font-size: 12px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-bottom: 26px;
    }

    .responsive-paragraph {
        border-top: 1px solid rgba(255, 255, 255, 0.59);
    }

}

@media (max-width:680px) {
    .section1 {
        flex-direction: column;
        padding-top: 114px;
        width: 100%;
        
    }

    .catalogRead h1 {
        font-size: 32px;
        width: 95%;
        margin: 0px auto;
    }

    .catalogRead p {
        font-size: 13px;
        width: 90%;
        margin: 0px auto;
        color: rgb(36, 20, 0);
    }

    .catalogRead {
        margin-top: 130px;
        flex-direction: column;
        width: 90%;
        margin-left: 35px;
    }

    .img img {
        width: 320px;
        height: 200px;
        margin-top: 0px;
        top: 0px; 
         margin-left: 40px;
        
    }
    
    

    .img1 img {
       
        width: 350px;
        height: 300px;
        margin-top: 250px;
        margin-left: px
    }



    .catalogChoose {
        flex-direction: column;
        width: 100%;

    }

    .section3 {
        flex-direction: column;
    
    }

    .numberOfBook {
        flex-direction: column;
    }

    .choose {
        width: 90%;
        margin: 0px auto;
    }

    .catalogRead .btnn {
        margin-top: 39px;
        margin: 0px auto;
        width: 90%;
        
    
        }
        .catalogText{
            margin-top: 132px;
        }

}